* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1.25rem;
}

h1 {
	font-weight: bold;
}

nav {
	margin-bottom: 2rem;
}

nav ul {
	display: flex;
	gap: 1.25rem;
	padding: 0.5rem 0;
	margin-bottom: 1rem;
	border-bottom: 1px solid #ccc;
}

nav a {
	text-decoration: none;
	color: black;
	font-size: 1.2rem;
}

nav a:hover {
	color: green;
}

.store-item {
	padding: 1rem;
	margin-bottom: 0.5rem;
	border: 1px solid #ddd;
	border-radius: 0.3rem;
}

.store-name {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.3rem;
}
